* {
    box-sizing: border-box;
}

:root {
    --boxcolor: #92FFFD;
    --textcolor: #05268C;
}

body {
    background-image: url("../images/design.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    /* position: relative; */
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.nav {
    position: relative;
    width: 100%;
    padding: 15px 0;
    background: rgb(73, 73, 73);
    font-family: 'Viaoda Libre', cursive;
    white-space: nowrap;
    height: 10%;
}

.nav .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .title a {
    font-size: 5vh;
    font-weight: 600;
    color: var(--boxcolor);
}

.nav .navmenu li {
    list-style: none;
    display: inline-block;
}

.nav .navmenu li a {
    color: var(--boxcolor);
    text-decoration: underline;
    font-size: 3vh;
    font-weight: bolder;
    margin-left: 20px;
}

.nav .navmenu li a:hover {
    color: var(--textcolor);
}

.mywork {
    float: left;
    background: transparent;
    width: 80%;
    height: auto;
    display: block;
}

.mainimage {
    width: 74%;
    height: 78vh;
    border: 5px solid var(--textcolor);
    background-image: url("../images/recipesrefocused.png");
    position: relative;
    float: right;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sideheaders {
    border-right: 5px solid var(--textcolor);
    padding: 3px;
    color: var(--textcolor);
    position: relative;
    background-color: var(--boxcolor);
    display: flex;
    margin: auto;
    justify-content: center;
}

.mywork h1 {
    font-size: 200%;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0 5px 0 5px;
    margin: 10px 5px 10px 0;
}

.image {
    float: left;
    height: fit-content;
    width: fit-content;
    background-color: var(--boxcolor);
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 1000;
    font-size: 3.3vh;
    color: var(--textcolor);
    white-space: nowrap;
    border: 3px solid var(--textcolor);
    padding: 3px;
    text-justify: inter-word;
}

.works1 {
    width: 25%;
    min-height: 25vh;
    border: 5px solid var(--textcolor);
    background-image: url("../images/weatherdash.gif");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.works1:hover,
.works2:hover,
.mainimage:hover,
.works3:hover {
    opacity: 50%;
}

.image1 {
    float: left;
    height: fit-content;
    width: fit-content;
    background-color: var(--boxcolor);
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 1000;
    font-size: 1.5vh;
    color: var(--textcolor);
    white-space: nowrap;
    border: 3px solid var(--textcolor);
    padding: 3px;
    text-justify: inter-word;
}

.works2 {
    width: 25%;
    min-height: 25vh;
    border: 5px solid var(--textcolor);
    background-image: url("../images/main-page.png");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-top: 10px;
}

.image2 {
    float: left;
    height: fit-content;
    width: fit-content;
    background-color: var(--boxcolor);
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 1000;
    font-size: 1.5vh;
    color: var(--textcolor);
    white-space: nowrap;
    border: 3px solid var(--textcolor);
    padding: 3px;
    text-justify: inter-word;
    padding-top: 3px;
}

.works3 {
    width: 25%;
    min-height: 25vh;
    border: 5px solid var(--textcolor);
    background-image: url("../images/codequiz.gif");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-top: 10px;
}

.image3 {
    float: left;
    height: fit-content;
    width: fit-content;
    background-color: var(--boxcolor);
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 1000;
    font-size: 1.5vh;
    color: var(--textcolor);
    white-space: nowrap;
    border: 3px solid var(--textcolor);
    padding: 3px;
    text-justify: inter-word;
    padding-top: 3px;
}

.aboutme {
    padding: 10px;
    float: right;
    width: 19%;
    height: 100%;
    font-family: 'Viaoda Libre', cursive;
    background-color: var(--boxcolor);
    margin-left: 3px;
    flex-wrap: wrap;
    border: 10px solid var(--textcolor);
}

.aboutmetext {
    margin-bottom: 10px;
    color: var(--textcolor);
}

.profilepic {
    width: 100%;
    height: auto;
}

.aboutme h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Gloria Hallelujah', cursive;
}

.aboutme img {
    display: flex;
    margin: 10px auto;
    max-width: 200px;
    height: auto;
}

.aboutme p {
    font-size: 110%;
    font-weight: bold;
}

.contactme {
    float: left;
    width: 80%;
    height: auto;
    background-color: var(--boxcolor);
    border: 3px solid var(--textcolor);
    border-radius: 5px;
    margin-top: 5px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid var(--textcolor);
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 8px;
    resize: vertical;
    font-size: 1em;
}

.contactme label {
    font-size: 2em;
    font-family: 'Gloria Hallelujah', cursive;
    color: var(--textcolor);
    margin-left: 5px;
}

input[type=submit] {
    background-color: var(--boxcolor);
    padding: 5px 10px;
    border: 2px solid -var(--textcolor);
    border-radius: 4px;
    cursor: pointer;
    color: var(--textcolor);
    font-size: 1em;
}

input[type=submit]:hover {
    background-color: var(--textcolor);
    opacity: 50%;
}

.cstm-foot {
    color: black;
}

.cstm-foot ul {
    display: inline-block;
}

.cstm-foot a {
    color: black;
}

.cstm-foot a:hover {
    color: white;
    font-weight: bolder;
}

.cstm-margin {
    padding-right: 20px;
}

.cstm-btn {
    padding-bottom: 20px;
}